body{
    background-color: rgb(237, 252, 252);
}

.gameboard{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.row{    
}

.column{
    display: flex;
    flex-direction: column;
    padding: 2em;
    outline: 1px solid black;
}